@* CategorySelectorLayer *@

<li class="nav-item">
    <div class="menu-element nav-item">
        @if (ViewBag.BaseCategory.HasChildren)
        {
            <div class="menu-logo-container">
                <button id="btnChevron-@ViewBag.BaseCategory.Id" class="@GetClassChevrone()" type="button"
                        onclick="changeChevrone('btnChevron-@ViewBag.BaseCategory.Id')" data-bs-toggle="collapse"
                        data-bs-target="#collapse-@ViewBag.BaseCategory.Id" aria-expanded="false" aria-controls="collapse-@ViewBag.BaseCategory.Id">
                    <img class="menu-img" src="~/svg/chevron-down.svg" />
                </button>
            </div>

            @if (ViewBag.BaseCategory.HasProducts)
            {
                <p class=@GetClassForLink() data-id="@ViewBag.BaseCategory.Id">@ViewBag.BaseCategory.Name</p>
            }
            else
            {
                <p class="c-selector" data-id="@ViewBag.BaseCategory.Id">@ViewBag.BaseCategory.Name</p>
            }

            <ul class="@GetClassCollapse()" id="collapse-@ViewBag.BaseCategory.Id">
                @foreach (var c in ViewBag.Children)
                {
                    <vc:category-selector-layer base-category="@c" all-categories="@ViewBag.AllCategories"></vc:category-selector-layer>
                }
            </ul>
        }
        else
        {
            <div class="menu-logo-container">
            </div>

            @if (ViewBag.BaseCategory.HasProducts)
            {
                <p class=@GetClassForLink() data-id="@ViewBag.BaseCategory.Id">@ViewBag.BaseCategory.Name</p>
            }
            else
            {
                <p class="c-selector" data-id="@ViewBag.BaseCategory.Id">@ViewBag.BaseCategory.Name</p>
            }
        }
    </div>
</li>

@functions {
    string GetClassForLink()
    {
        if (ViewBag.BaseCategory.IsActive) return "c-selector-selected";
        else return "c-selector";
    }
    string GetClassCollapse()
    {
        if (ViewBag.BaseCategory.IsOpen) return "menu-list collapse show";
        else return "menu-list collapse";
    }
    string GetClassChevrone()
    {
        if (ViewBag.BaseCategory.IsOpen) return "menu-chevron-open";
        else return "menu-chevron";
    }
}