@* CategoryListMenuLayer *@

<li class="nav-item">
    <div class="menu-element nav-item">
        @if (ViewBag.BaseCategory.HasChildren)
        {
            <div class="menu-logo-container">
                <button id="btnChevron-@ViewBag.BaseCategory.Id" class="@GetClassChevrone()" type="button"
                        onclick="changeChevrone('btnChevron-@ViewBag.BaseCategory.Id')" data-bs-toggle="collapse"
                        data-bs-target="#collapse-@ViewBag.BaseCategory.Id" aria-expanded="false" aria-controls="collapse-@ViewBag.BaseCategory.Id">
                    <img class="menu-img" src="~/svg/chevron-down.svg" />
                </button>
            </div>

            <a class="menu-navlink" asp-controller="Edit" asp-action="Category" asp-route-id=@ViewBag.BaseCategory.Id>@ViewBag.BaseCategory.Name</a>

            <ul class="@GetClassCollapse()" id="collapse-@ViewBag.BaseCategory.Id">
                @foreach (var c in ViewBag.Children)
                {
                    <vc:category-list-menu-layer base-category="@c" all-categories="@Model"></vc:category-list-menu-layer>
                }
            </ul>
        }
        else
        {
            <div class="menu-logo-container">
            </div>
            <a class="menu-navlink" asp-controller="Edit" asp-action="Category" asp-route-id=@ViewBag.BaseCategory.Id>@ViewBag.BaseCategory.Name</a>
        }
    </div>
</li>

@functions {
    string GetClassCollapse()
    {
        if (ViewBag.BaseCategory.IsOpen) return "menu-list collapse show";
        else return "menu-list collapse";
    }
    string GetClassChevrone()
    {
        if (ViewBag.BaseCategory.IsOpen) return "menu-chevron-open";
        else return "menu-chevron";
    }
}